ion-content{
  --padding-start:1rem;
  --padding-end: 1rem;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    
    .header-en-tete{
      font-size: 3rem;
      font-weight: 600;
      color: #286469;
      margin: 0;
    }

    .logo{
      width: 80px;
      height: 80px;
      border-radius: 100%;
      display: flex-end;
      justify-content: center;
      overflow: hidden;

      ion-img{
        width: 99%;
        height: 99%;
      }
    }
  }

  .categorie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.1rem;
  }

  .list-header{
    font-weight: 700;
    color: rgb(58, 109, 24);
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    margin-top:2.5rem;
  }

  .du-frais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.1rem;
  }
}
ion-content{
  --ion-background-color: #EAF2F8;
}