<ion-content>
  <!--header-->
  <div class="header">
    <h1 class="header-en-tete"><strong>P</strong>lan d'achat</h1>
    <div class="logo">
      <ion-img src="../../../../assets/icon/logofrais.jpg"></ion-img>
    </div>
  </div>
  <!--barresearch-->
  <ion-searchbar></ion-searchbar>

  <!--categorie de produit-->
  <div class="categorie">
    <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
  </div>
  <!--produit-->
  <h1 class="list-header">Produits frais</h1>
  <div class="du-frais" >
    <app-food-list *ngFor="let item of Produits" [item]="item" (clicked)="goToDetailPage(item.id)"></app-food-list>
  </div>
</ion-content>

